@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Outfit", sans-serif;
}

.glow {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0 0 500px 150px #b9fd50;
}
